[clock]
# Does not use real time, useful for debugging
simulate = False

# Colors settings
# rainbow overrides on_rgb and minute_rgb, but only works with 12x12 clock
rainbow = True
on_rgb = #FFF
off_rgb = #000
day_rgb = #FFF
minute_rgb = #FFF

[temperature]
enable = True

# You must have an API key for https://openweathermap.org/
api_key = xxxx
location = Paris, FR

# Colors settings
# rainbow overrides on_rgb, but only works with 12x12 clock
rainbow = True
on_rgb = #FFF
off_rgb = #000

[display]
layout = layouts/french.json
# From 0 to 1
brightness = 0.3

[computer]
fill_empty = True
show_index = True